 <!--Header--> 
 <section id="home" class="gradient-background display-fixed" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000;">
    <div class="container">
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-left justify-content-lg">
                    <div>
                      <a class="navbar-brand gap-10" href="https://www.google.com/maps/place/Institute+of+Technology+of+Cambodia/@11.5703953,104.8980518,20z/data=!4m6!3m5!1s0x3109517388680e15:0x63057e6682968f5!8m2!3d11.5703975!4d104.8980857!16zL20vMDZ5dmhz?entry=ttu&g_ep=EgoyMDI1MDMxOC4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D">
                          <img src="images/book-half.svg" alt="Library" height="25"> Library
                      </a>
                    </div>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 align-items-center" class="top-bar">
                        <li><a href="/" class="nav-link px-2 link-body-emphasis">Home</a></li>
                        <li><a href="/" class="nav-link px-2 link-body-emphasis">Overview</a></li>
                        <li><a href="/books" class="nav-link px-2 link-body-emphasis">Books</a></li>
                        
                    </ul>
                    <div>
                      <ul class="nav col-lg-auto me-lg-auto mb-2 mb-md-0 justify-content-right" class="top-bar">
                          <li>
                              <a href="/login" class="nav-link px-2 link-body-emphasis">log In</a></li>
                            <li>
                              <a href="/register" class="nav-link px-2 link-body-emphasis ">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
  </section>