<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../styles/quote.css"> <!-- Link to external CSS -->
    <title>Quote</title>
</head>
<body>
    <div class="container">
        <div id="quote1">
            <h2>The library is not a luxury but one of the necessities of life.</h2>
            <img src="../images/henrywardbeecher1-2x.jpg" alt="quote1 picture to remind you guys">
        </div>
    </div>
    
    <div class="container">
        <div id="quote2">
            <h2>A library is a place where you can lose yourself in the world and find yourself at the same time.</h2>
            <img src="../images/Quote-11.png" alt="second quote">
        </div>
    </div>
    
</body>
</html>
